/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}
.max-width {
  max-width: 1300px;
  padding: 0 60px;
  margin: auto;
}
.about,
.projects,
.skills,
.contri_proj,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.education .edu-content,
.projects .proj-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: url(./images/bg.png);
  transform: translateX(-50%);
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  transition: all 0.3s ease;
}
.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar.sticky .logo a:hover,
.navbar.sticky .logo a:hover span {
  color: #000;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #000;
}
/* .navbar.sticky .menu li a::after {
  display: none;
} */
/* .navbar .menu li a::after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease,background-color 0.5s ease;
}
.navbar .menu li:hover a::after{
  width: 100%;
  background: cyan;
} */
.scroll {
  height: 4px;
  background: black;
  position: absolute;
  top: 100%;
  animation-name: gradient-shadow;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes gradient-shadow {
  0% {
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
  20% {
    box-shadow: 0 0 17px 3px #0ff, 0 0 4px 2px #0ff;
  }
  40% {
    box-shadow: 0 0 17px 3px #0f0, 0 0 4px 2px #0f0;
  }
  60% {
    box-shadow: 0 0 17px 3px #ffff01, 0 0 4px 2px #ffff01;
  }
  80% {
    box-shadow: 0 0 17px 3px #f00, 0 0 4px 2px #f00;
  }
  100% {
    box-shadow: 0 0 17px 3px #c586c0, 0 0 4px 2px #c586c0;
  }
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  color: black;
  transform: scale(1.1);
}

/* home section styling */
.home {
  display: flex;
  background: url("images/banner_2.jpg") no-repeat center;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 20px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 60px;
  font-weight: 600;
  margin-left: -3px;
  letter-spacing: 4px;
  font-weight: lighter;
  font-family: monospace;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 20px 0;
}
.home .home-content .text-3 span {
  color: cyan;
  font-weight: 500;
}
.home .home-content .text-4 {
  font-size: 27px;
  margin-top: 40px;
}
.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  /* color: crimson; */
  background: none;
}
.icons1 {
  display: flex;
  margin-top: 30px;
}
.icons1 li {
  position: relative;
  list-style: none;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  border-radius: 50%;
  /* margin-top: 10px; */
  background: crimson;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
  /* border: 3px solid crimson; */
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px #ffffff73;
}
.icons1 li a {
  line-height: 50px;
  font-size: 30px;
  color: #fff;
}
.icons1 li.shadow-2 a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 35px;
  line-height: 35px;
  border-radius: 50%;
  background: #dde1e7;
  font-size: 27px;
  box-shadow: inset -3px -3px 7px #beb9b973,
    inset 3px 3px 5px rgba(33, 39, 44, 0.288);
}

.icons1 li:nth-child(1).fill-color a {
  color: #1da1f2;
}
.icons1 li:nth-child(2).fill-color a {
  color: #e1306c;
}
.icons1 li:nth-child(3).fill-color a {
  color: #2867b2;
}
.icons1 li:nth-child(4).fill-color a {
  color: #000;
}

.icons1 li:nth-child(1).fill-back:hover {
  background-color: #1da1f2;
  transform: scale(1.05);
}
.icons1 li:nth-child(2).fill-back:hover {
  background-color: #e1306c;
  transform: scale(1.05);
}
.icons1 li:nth-child(3).fill-back:hover {
  background-color: #2867b2;
  transform: scale(1.05);
}
.icons1 li:nth-child(4).fill-back:hover {
  background-color: black;
  transform: scale(1.05);
}

/* about section styling */

.about,
.experiences,
.contri_proj,
.contact {
  background: url(./images/bg.png);
}
.about .title::after {
  content: "who I am";
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .right {
  width: 50%;
}
/* .about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2px;
  height: 70px;
}
.about .about-content .right .text span {
  color: crimson;
} */
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* Education section styling */
.education .title::after {
  content: "where i've learnt";
}
.education .edu-content .left {
  width: 45%;
}
.education .edu-content .right {
  width: 50%;
  text-align: center;
}

.edu-card {
	border-radius: 10px;
	/* box-shadow: 3px 3px 5px 6px #ccc; */
	display: flex;
	max-width: 100%;
	margin: 20px 0;
	overflow: hidden;
}

.edu-card:hover .degree{
  transition: 0.6s all;
  background-color: white;
  color: crimson;
}

.edu-card:hover .degree-info{
  background-color: crimson;
  color: white;
}

.edu-card:hover h3{
  color: white;
}

.degree h2 {
  display: table-cell;
  vertical-align: middle;
	letter-spacing: 2px;
}

.degree {
	background-color: crimson;
	color: #fff;
	padding: 20px 10px;
	max-width: 250px;
  width: 40%;
  display: table;
}

.degree-info {
  background-color: white;
  color: crimson;
	padding: 20px 10px;
	position: relative;
	width: 70%;
}

/* experiences section styling */
.experiences .title::after {
  content: "what i've done";
}

.expr-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 20px 0 0;
}

.expr-content .card {
  width: 300px;
  margin: 30px 30px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.expr-content .card:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
}
.expr-content .card:hover .card__image {
  transform: translateY(-10px);
}
.expr-content .card:hover .card__thumb::after {
  top: 0;
}
.expr-content .card:hover .card__snippet {
  margin: 20px 0;
}
.card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}
@media (min-width: 324px) {
  .card__thumb {
    max-height: 400px;
  }
}
.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.877) 40%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}
@media (min-width: 324px) {
  .card__thumb::after {
    top: calc(100% - 140px);
  }
}
.card__image {
  transition: 0.5s ease-in-out;
  opacity: 0.7;
}
.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 0 20px;
  color: white;
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 324px) {
  .card__caption {
    top: calc(100% - 110px);
    transform: unset;
  }
}
.card__title {
  color: white;
  background-color: crimson;
  border-radius: 10px;
  letter-spacing: 3px;
  display: -webkit-box;
  max-height: 88px;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  line-height: 28px;
  /* text-shadow: 0px 1px 5px black; */
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  border: 2px solid crimson;
}
.card__snippet {
  color: #fff;
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  letter-spacing: 3px;
  font-weight: bolder;
}
@media (min-width: 324px) {
  .card__snippet {
    margin: 60px 0;
  }
}
.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: crimson;
  font-family: "Roboto", sans-serif;
  border: 3px solid crimson;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.card__button:hover {
  color: white;
  background: none;
}


/* projects section styling */
.education,
.projects,
.skills {
  color: #fff;
  background: #111;
}
.education .title::before,
.projects .title::before,
.skills .title::before {
  background: #fff;
}
.education .title::after,
.projects .title::after,
.skills .title::after {
  background: #111;
}
.projects .title::after {
  content: "what i've built";
}
.projects .carousel .card {
  background: #fff;
  color: #000;
  border-radius: 6px;
  padding: 25px 20px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  min-height: 297px;
}
@media (max-width: 1161px) {
  .projects .carousel .card {
    min-height: 292px;
  }
}
@media (max-width: 999px) {
  .projects .carousel .card {
    min-height: 267px;
  }
}
@media (max-width: 747px) {
  .projects .carousel .card {
    min-height: 292px;
  }
}
@media (max-width: 614px) {
  .projects .carousel .card {
    min-height: 317px;
  }
}
@media (max-width: 599px) {
  .projects .carousel .card {
    min-height: 292px;
  }
}
@media (max-width: 503px) {
  .projects .carousel .card {
    min-height: 317px;
  }
}
@media (max-width: 463px) {
  .projects .carousel .card {
    padding: 25px 15px;
  }
}
@media (max-width: 406px) {
  .projects .carousel .card {
    min-height: 292px;
  }
}
@media (max-width: 376px) {
  .projects .carousel .card {
    min-height: 317px;
  }
}
@media (max-width: 315px) {
  .projects .carousel .card {
    min-height: 352px;
  }
}

@media (max-width: 599px) {
  .carousel .card {
    width: 60%;
    margin: auto;
  }
}
@media (max-width: 406px) {
  .carousel .card {
    width: 80%;
    margin: auto;
  }
}
.projects .carousel .card:hover {
  background: crimson;
}
.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.projects .carousel .card:hover .box {
  transform: scale(1.05);
}
.projects .carousel .card .text {
  font-size: 25px;
  font-weight:500;
  margin: 10px 0 7px 0;
  color: #000;
}
.projects .carousel .card .text a {
  color: black;
  padding: 2px;
  animation: link1 1s linear infinite;
}
@keyframes link1 {
  50% {
    color: crimson;
  }
}
.projects .carousel .card .text a:hover {
  color: white;
}
.projects .card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}
.projects .card:hover i {
  color: #000;
}
.projects .card p {
  border-bottom: 2px solid crimson;
  margin-bottom: 10px;
}
.projects .card:hover p {
  border-bottom-color:  black;
}
.projects .card p {
  border-bottom: 2px solid crimson;
  margin-bottom: 10px;
}
.projects .card:hover p {
  border-bottom-color:  black;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid crimson !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: crimson !important;
}

.open-source {
  text-align: center;
  margin-top: 20px;
}

.open-source a {
  color: #fff;
}
.open-source i {
  color: crimson;
  font-size: 32px;
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  50% {
    color: white;
  }
}

.projects .title {
  margin-bottom: 40px;
}


/* contri_proj section styling */
.contri_proj .title::after {
  content: "what i've done";
}
.contri_proj .carousel .card {
  background: #000;
  color: white;
  border-radius: 6px;
  padding: 25px 20px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  min-height: 267px;
  position: relative;
}
.stack {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}
@media (max-width: 1043px) {
  .contri_proj .carousel .card {
    min-height: 292px !important;
  }
}
@media (max-width: 999px) {
  .contri_proj .carousel .card {
    min-height: 242px !important;
  }
}
@media (max-width: 884px) {
  .contri_proj .carousel .card {
    min-height: 267px !important;
  }
}
@media (max-width: 661px) {
  .contri_proj .carousel .card {
    min-height: 292px !important;
  }
}
@media (max-width: 599px) {
  .contri_proj .carousel .card {
    min-height: 267px !important;
    padding: 25px 15px !important;
  }
}
@media (max-width: 520px) {
  .contri_proj .carousel .card {
    min-height: 292px !important;
  }
}
@media (max-width: 453px) {
  .contri_proj .carousel .card {
    min-height: 305px !important;
  }
}
@media (max-width: 439px) {
  .contri_proj .carousel .card {
    min-height: 330px !important;
  }
}
@media (max-width: 406px) {
  .contri_proj .carousel .card {
    min-height: 242px !important;
  }
}
@media (max-width: 401px) {
  .contri_proj .carousel .card {
    min-height: 292px !important;
  }
}
@media (max-width: 341px) {
  .contri_proj .carousel .card {
    min-height: 330px !important;
  }
}
.contri_proj .carousel .card:hover {
  background: crimson;
}
.contri_proj .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.contri_proj .carousel .card:hover .box {
  transform: scale(1.05);
}
.contri_proj .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
}
.contri_proj .carousel .card .text a {
  color: white;
  padding: 2px;
  animation: link2 1s linear infinite;
}
@keyframes link2 {
  50% {
    color: crimson;
  }
}
.contri_proj .carousel .card .text a:hover {
  color: black;
}
.contri_proj .card i {
  font-size: 50px;
  color: crimson;
  transition: color 0.3s ease;
}
.contri_proj .card:hover i {
  color: #fff;
}
.contri_proj .card p {
  margin-bottom: 10px;
  border-bottom: 2px solid crimson;
}
.contri_proj .card:hover p {
  border-bottom-color:  white;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid crimson !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: crimson !important;
}

/* skills section styling */

.skills .title::after {
  content: "what i know";
}
.skills .skills-content .left {
  width: 45%;
}
.skills .skills-content .right {
  width: 50%;
  text-align: center;
}
.skills .skills-content .right .skills-icons h5 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 2px;
  color: #fff;
}
.skills .skills-content i{
  font-size: 50px;
}
.skills .skills-content .skills-icons:hover i {
  transform: scale(1.1);
  transition: 0.3s;
}
.skills .skills-content .skills-icons:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}
.skills .skills-content .skills-icons:nth-child(1){
  color: #e34c26;
}
.skills .skills-content .skills-icons:nth-child(2){
  color: #2965f1;
}
.skills .skills-content .skills-icons:nth-child(3){
  color: #f0db4f;
}
.skills .skills-content .skills-icons:nth-child(5){
  color: #563d7c;
}
.skills .skills-content .skills-icons:nth-child(6){
  color: #f34f29;
}
.skills .skills-content .skills-icons:nth-child(7){
  color: #61dbfb;
}

.skills-icons h5 {
  margin-top: 10px;
}
.skills .skills-content .column .skills-icons {
  display: inline-block;
  margin: 20px;
  text-align: center;
}
.skills-icons h5::after {
  content: '';
  display: block;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease,background-color 0.5s ease;
}
.skills-icons:hover h5::after {
  width: 100%;
}

.skills-icons:nth-child(1):hover h5::after {
  background: #e34c26;
}
.skills-icons:nth-child(2):hover h5::after {
  background: #2965f1;
}
.skills-icons:nth-child(3):hover h5::after {
  background: #f0db4f;
}
.skills-icons:nth-child(4):hover h5::after {
  background: #0868AC;
}
.skills-icons:nth-child(5):hover h5::after {
  background: #563d7c;
}
.skills-icons:nth-child(6):hover h5::after {
  background: #f34f29;
}
.skills-icons:nth-child(7):hover h5::after {
  background: #61dbfb;
}
.skills-icons:nth-child(8):hover h5::after {
  background: #092e20;
}
.skills-icons:nth-child(9):hover h5::after {
  background: #f29111;
}
.skills-icons:nth-child(10):hover h5::after {
  background: deepskyblue;
}
.skills-icons:nth-child(11):hover h5::after {
  background: #00ffd5;
}
.skills-icons:nth-child(12):hover h5::after {
  background: #f89820;
}


/* contact section styling */
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content {
  margin-bottom: -130px;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-img img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: crimson 0px 19px 58px, crimson 0px 15px 32px;
  margin-bottom: 50px;
}
.contact-img {
  text-align: center;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
  box-shadow: crimson 0px 19px 38px, crimson 0px 15px 12px;
  border-radius: 20px;
  padding: 20px;
  background: white;
  text-align: left;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 28px;
  color: crimson;
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .contact-content .right .form {
  box-shadow: crimson 0px 19px 38px, crimson 0px 15px 12px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid crimson;
  margin-bottom: 15px;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 25px;
}
.contact .right form .textarea {
  height: 100px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  color: crimson;
  background: none;
}

.cont-lottie {
  margin-bottom: 130px;
}

.Sign {
  margin: 30px auto;
  text-align: center;
}

.Sign .sign {
  width: 230px;
  height: 100px;
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}
footer span a {
  color: crimson;
  text-decoration: none;
}
footer span a:hover {
  color: violet;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 30px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i:hover {
    transform: scale(1.2);
    color: cyan;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  #about .title, #contact .title {
    margin-bottom: 30px !important;
  }
  #skills .title, #education .title {
    margin-bottom: -20px !important;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .navbar.sticky .menu li a:hover {
    color: crimson;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 930px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
  }
  .about .about-content .right .text{
    height: 30px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .skills .skills-content .column {
    width: 100%;
  }
  .skills .skills-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
  }
  .skills .skills-content .right {
    flex: 100%;
  }
  .education .edu-content .column {
    width: 100%;
  }
  .education .edu-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
  }
  .education .edu-content .right {
    flex: 100%;
  }
  .edu-card {
    margin: 20px 10px;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .Sign {
    margin-top: -30px;
  }
  .skills .skills-content i{
    font-size: 45px;
  }
  .cont-lottie {
    margin-bottom: 10px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .projects .proj-content .card {
    width: 100%;
  }
  .Sign {
    margin-top: -20px;
  }
  .skills .skills-content i{
    font-size: 40px;
  }
  .about .about-content .left {
    width: 85%;
  }
  .about .about-content .right .text{
    height: 70px;
  }
  .skills .skills-content .left {
    width: 85%;
  }
  .education .edu-content .left {
    width: 85%;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
    height: 62px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
  .contact .contact-content .row .info {
    margin-left: 25px;
  }
  .about .about-content .left {
    width: 100%;
  }
  .skills .skills-content .left {
    width: 100%;
  }
  .education .edu-content .left {
    width: 100%;
  }
  .edu-card {
    margin: 20px 5px;
  }
  .degree {
    padding: 5px;
    width: 50%;
  }
  .degree h2 {
    font-size: 21px;
  }
  .degree-info h3{
    font-size: 18px;
  }
}

@media (max-width: 388px) {
  section .title::after {
    font-size: 16px;
    padding: 0 2px;
  }
  .contact .contact-content .row .info {
    margin-left: 15px;
  }
  .sub-title {
    font-size: 12px;
  }
  .about .about-content .right .text{
    height: 114px;
  }
  edu-card {
    margin: 20px 0px;
  }
  .degree {
    padding: 0 2px;
    width: 60%;
  }
  .degree h2 {
    font-size: 20px;
  }
  .degree-info h3{
    font-size: 16px;
  }
}
@media (max-width: 361px) {
  .skills .skills-content .column .skills-icons {
    width: 30%;
  } 
}
@media (max-width: 326px) {
  .navbar .logo a{
    font-size: 30px;
  }
  .degree {
    padding: 0 2px;
    width: 60%;
  }
  .degree h2 {
    font-size: 18px;
  }
  .degree-info h3{
    font-size: 14px;
  }
}

/* [data-scroll] {
  transition: opacity 1s;
}
[data-scroll="in"] {
  opacity: 1;
}
[data-scroll="out"] {
  opacity: 0;
} */

[data-scroll] {
  transition: all 1s ease-out;
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateX(0);
}

[data-scroll="out"] {
  opacity: 0;
  transform: translateX(-300px);
}

.load{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.scan {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scan .fingerprint {
  position: relative;
  width: 300px;
  height: 300px;
  background: url(./images/fingerPrint_01.png) no-repeat;
  background-size: 300px;
  margin-bottom: 30px;
}

.scan .fingerprint::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/fingerPrint_02.png) no-repeat;
  background-size: 300px;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,100%{
    height: 0%;
  }
  50%{
    height: 100%;
  }
}

.scan .fingerprint::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: crimson;
  border-radius: 8px;
  filter: drop-shadow(0 0 20px crimson) drop-shadow(0 0 60px crimson);
  animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line{
  0%,100%{
    top: 0%;
  }
  50%{
    top: 100%;
  }
}

.scan h3 {
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 3px;
  margin-top: 20px;
  color: crimson;
  filter: drop-shadow(0 0 20px crimson) drop-shadow(0 0 60px crimson);
}

.scan span::before {
  animation: dots 2s linear infinite;
  content: '';
}

@keyframes dots{
  25%{
    content: '.';
  }
  50%{
    content: '..';
  }
  75%{
    content: '...';
  }
  100%{
    content: '';
  }
}